body {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background: rgb(39, 39, 68);
    top: 0;
    left: 0;
    right: 0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

nav ul>li>a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s, font-size .3s;
    -webkit-transition: color .3s, font-size .3s;
}

nav a:hover {
    color: rgb(202, 202, 202);
    font-size: 15px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.img_logo {
    width: 115px;
    height: 46px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(212, 212, 204);
    color: black;
    text-align: center;
    padding-bottom: 8px;
    position: relative;
}

.footerDIV {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.footer_title {
    font-size: 20px;
    margin-top: 10pxs;
}

.container {
    margin: 100px;
}

ul>li>a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration: underline;
    color: rgb(65, 64, 64);
    font-size: 18px;
    margin-bottom: 30px;
    transition: color .3s, font-size .3s;
    -webkit-transition: color .3s, font-size .3s;
}

ul>li>a:hover {
    color: rgb(226, 77, 77);
    font-size: 20px;
}

.news_feed {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}